body{
    background-color: #002f01;
}

header{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 0%;
    box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.5);
    background-color: white;
}

img{
    margin: 2% 0 2% 0;
}

.responsive {
    max-width: 100%;
    height: auto;
  }

#navbar{
    background-color: #383838;
    text-align: center;
    padding: 10px;
}

.navbar-item-box{
    list-style-type: none;
    width: min-content;
    padding: 10px;
    margin: 5px;
    display: inline;
}

.navbar-item-box:hover{
    background-color: #002f01;
}

.navbar-item-text{
    text-decoration: none;
    color:white;
    font-size: 12pt;
    font-weight: 400;
}