body{
    background-color: #002f01;
}

header, main, footer{
    max-width: 1200px;
    margin: auto;
    box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.5);
}

header{
    margin-top: 2%;
}

main{
    text-align: center;
}

header, main{
    background-color: white;
}

#main-logo{
    max-width: 100%;
    margin: 30px 0;
}

.landingPageImg{
    width: 100%;
    display: block;
}

#landingPageQuotation{
    background-color: #383838;
    color: white;   
    text-align: center;
    padding: 30px 100px;
    font-size: 12pt;
    line-height: 1.5em;
}       

/* Essas divs estão encostando lá embaixo e crescendo para cima conforme seu conteúdo aumenta.*/

.featured-articles{
    position: relative;
    top: 0;
    max-width: 30%;
    margin: 40px 0;
    display: inline-block;
    vertical-align: top; /*AAAAAAAAA*/
}

article a{
    color: #2596be;
    font-weight: 520;
}

h2{
    
    display: none;
}

h3, h2{
    color: #2596be;
    font-weight:600;
}

p{
    font-size: 10pt;
}

.box-image{
    max-width: 100%;
    margin: 10px 0;

}

footer{
    background-color: #383838;
}

.footer-div{
    max-width: max-content;
    padding: 30px;
}

#footer-title{
    color: #cadad7;
    font-size: 16pt;
    margin-bottom: 15px;
}

#mailbox{   
    color: white;
    font-size: 10pt;
}

.copyright-div{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10pt;
    padding: 20px 0;
}