.navbar-container{
    background-color: #383838;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding: 0;
    height: max-content;
}

.navbar-list{
    background-color: #383838;
    margin: 0;
}

.navbar-item{
    font-size: 14pt;
    font-weight: 400;
    color: white;
    display: inline-block;
    padding: 0 15px;
    height: 100%;
    line-height: 50px;
}

.navbar-item:hover{
    background-color: #002f01;
}