
body{
    background-color: burlywood;
}

header{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 15px;
    background-color: white;
    border-style: solid;
}

section{
    max-width: 1200px;
    margin: auto;
    border-style: solid;
    background-color: white;
}

footer{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    background-color: #dbd9d3;
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: black;
    margin: auto;
    line-height: 50px;
    
}

li a:hover{
    background-color: #cfa855;
    color: white;
}

div{
    max-width: 700px;
    margin: 30px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
}

div#title{
    margin: 10px;
    padding: 0px;
    max-width: none;
}

div#search{
    max-width: 300px;
}

div#pages{
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    padding: 0px;
    background-color: #dbd9d3;;
}

aside{
    background-color: burlywood;
    max-width: 10px;
}

