body{
    margin: 0;
    padding: 0;
}

#main-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 25%;
    position: fixed;
    overflow: auto;
    /*border: 1px solid black;*/
    background-color: #e0e0e0  ;

}

.navbar-item{
    display: block;
    color: black;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #e0e0e0;
    text-decoration: none;
    font-size: 16pt;
}

.navbar-item:hover{
    background-color: #696969;
    color: white;
}

#active{
    background-color: burlywood;
}

#text{
    margin-left: 25%;
    padding: 100px;
    padding-top: 10px;
}

#top{
    margin-left: 25%;
    border-style: none;
}   